{% load static %}
{% include 'header_admin.html'%}

<form method="post" enctype="multipart/form-data">
    {% csrf_token%}
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Add Team</h6>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name@example.com" value="{{data.name}}">
                <label for="floatingInput">Your Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="designation" placeholder="name@example.com" value="{{data.designation}}">
                <label for="floatingInput">Designation</label>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFile" name="image" value="{{data.image}}">
            </div>
            <input type="submit" class="btn btn-primary" name="save" value="SAVE"></input>
        </div>
    </div>
</form>
{% include 'footer_admin.html'%}