{% load static %}
{% include 'header_admin.html'%}

            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Manage Team</h6>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Car Name</th>
                                <th scope="col">Prize</th>
                                <th scope="col">Discription</th>
                                <th scope="col">Car Category</th>
                                <th scope="col">Car Brand</th>
                                <th scope="col">Person</th>
                                <th scope="col">Music</th>
                                <th scope="col">AC</th>
                                <th scope="col">Fuel</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data%}
                                <tr>
                                    <th scope="row">{{i.id}}</th>
                                    <td>{{i.name}}</td>
                                    <td>{{i.prize}}</td>
                                    <td>{{i.discription}}</td>
                                    <td>{{i.category}}</td>
                                    <td>{{i.car_brand}}</td>
                                    <td>{{i.person}}</td>
                                    <td>{{i.music}}</td>
                                    <td>{{i.ac}}</td>
                                    <td>{{i.fuel}}</td>
                                    <td><img src="/media/{{i.image}}" alt="" height="100px" width="100px"></td>
                                    <td>
                                        <a href="/myadmin/update_car/{{i.id}}">UPDATE</a> ||
                                        <a href="/myadmin/delete_car/{{i.id}}">DELETE</a>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        {% include 'footer_admin.html'%}