{% load static%}
{% include 'header.html'%}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">change password</h1>
            <div class="row">
                <div class="col-lg-12 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- <div class="form-group">
                                <input type="email" class="form-control p-4" placeholder="Your Email" required="required" name="email">
                            </div> -->
                            <div class="form-group">
                                <input type="password" class="form-control p-4" placeholder="Your Old Password" required="required" name="old_password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p-4" placeholder="Your New Password" required="required" name="new_password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p-4" placeholder="Your Confirm Password" required="required"
                                    name="conf_password">
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary py-3 px-5" name="save"></input>
                            </div>
                        </form>
                        {{msg}}
                    </div>
                    <!-- <a href="/send_mail_for_otp/">forget password</a> -->
                </div>
                
            </div>
        </div>
    </div>
{% include 'footer.html'%}